.Landing {
  padding-top: 5%;
}
.Plans {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
  margin: auto;
}
.headerTop {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15%;
  margin-top: 0;
  margin-bottom: 10%;
}
.headerTopLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 6%;
}
.btn_header {
  width: 25%;
  font-weight: 500;
  background-color: #f53838;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  box-shadow: 0px 20px 10px #fdd3d3;
}
.reviews {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 2%;
}
.arrow img {
  border: 1px solid #f53838;
  border-radius: 100%;
  padding: 2%;
  margin: 2%;
}
.scroll {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.arrow {
  width: 30%;
  height: auto;
}
.arrow:hover {
  cursor: pointer;
}
.dot {
  background: #dde0e4;
  width: 10px;
  height: 10px;
  border: 2px solid #dde0e4;
  border-radius: 100%;
  margin: 5%;
}
.activedot {
  background-color: #f53838;
  width: 40px;
  height: 10px;
  border: 2px solid #dde0e4;
  border-radius: 10px;
  margin: 5%;
}
.dots {
  display: flex;
  flex-direction: row;
  width: 20%;
  margin-left: 10%;
}
.reviewheading {
  font-size: 200%;
  font-weight: 500;
}
.reviewsubheading {
  color: #4f5665;
  font-weight: 400;
  width: 35%;
  margin: auto;
}
.right {
  background-color: #f53838;
}
.banner {
  width: 70%;
  height: auto;
}
@media only screen and (max-width: 500px) {
  .reviewheading {
    font-size: 150%;
  }
  .reviewsubheading {
    font-size: 70%;
  }
}
::-webkit-scrollbar {
  display: none;
}
